@font-face {
  font-family: 'Styrene';
  src: url(../fonts/StyreneAWeb/StyreneAWeb-Thin.ttf);
}
@font-face {
  font-family: 'StyreneBold';
  src: url(../fonts/StyreneAWebBold/StyreneAWeb-Bold.ttf);
}
body {
  font-family: 'Styrene';
}
.container {
  max-width: 1200px;
  margin: auto;
}
.header-block {
  font-family: 'StyreneBold';
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  margin-top: 71px;
}
.services__title {
  font-family: 'StyreneBold';
  font-weight: bold;
  font-size: 26px;
  margin-top: 89px;
}
.services__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.box {
  margin-top: 83px;
}
.box__title {
  font-size: 32px;
  font-weight: 600;
  min-width: 150px;
  position: relative;
}
.box__title::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: red;
  margin-top: -29px;
}
.box__button {
  display: none;
}
.box__description {
  width: 30%;
}
.box__list {
  font-weight: 600;
}
.list {
  list-style: none;
}
.list__compose {
  position: relative;
}
.list__compose::before {
  position: absolute;
  content: '\2022';
  color: red;
  font-weight: bold;
  display: inline-block;
  width: 20px;
  margin-left: -26px;
  font-size: 28px;
  margin-top: -10px;
}
.block-description {
  display: flex;
  justify-content: space-between;
  margin-top: 147px;
}
.red {
  width: 49%;
  color: white;
  background-color: #FF3535;
}
.red__title {
  font-size: 36px;
  padding: 56px 94px 24px 71px;
}
.red__speciffication {
  font-weight: 300;
  font-size: 20px;
  padding: 24px 65px 40px 72px;
}
.black {
  width: 49%;
  background-color: #2D2C2A;
  font-size: 36px;
  color: white;
}
.black__title {
  font-size: 36px;
  padding: 56px 94px 0px 71px;
}
.black__speciffication {
  font-weight: 300;
  font-size: 20px;
  padding: 24px 65px 40px 72px;
}
@media (max-width: 420px) {
  .container {
    max-width: 345px;
  }
  .header-block {
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    margin-top: 28px;
  }
  .services__title {
    font-size: 21px;
    margin-top: 34px;
  }
  .services__container {
    flex-direction: column;
    margin-top: 27px;
  }
  .box__title {
    display: none;
  }
  .box__button {
    display: block;
    position: relative;
    width: 100%;
    height: 51px;
    background: #F7F7F7;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    outline: none;
  }
  .box__button:hover,
  .box__button_active {
    background-color: #FF3535;
  }
  .box__list {
    display: none;
  }
  .box__list_show {
    display: block;
    font-weight: 300;
    font-size: 15px;
  }
  .box__description {
    width: 100%;
  }
  .box__span_active::after {
    transform: rotate(0deg);
    background-color: #fff;
    transition: 0.4s;
  }
  .list__compose {
    margin-top: 10px;
  }
  .list__compose::before {
    font-size: 20px;
    margin-top: -2px;
  }
  .block-description {
    flex-direction: column;
    margin-top: 44px;
  }
  .red {
    width: 100%;
  }
  .red__title {
    font-family: 'StyreneBold';
    font-size: 25px;
    padding: 31px 17px 31px 17px;
  }
  .red__speciffication {
    font-size: 20px;
    text-align: left;
    padding: 0px 17px 41px 17px;
  }
  .black {
    width: 100%;
    margin-top: 23px;
  }
  .black__title {
    font-family: 'StyreneBold';
    font-size: 25px;
    padding: 31px 17px 31px 17px;
  }
  .black__speciffication {
    font-size: 20px;
    text-align: left;
    padding: 0px 17px 41px 42px;
  }
  span {
    width: 23px;
    height: 3px;
    background-color: #D9D9D9;
    position: absolute;
    left: 21px;
    top: 25px;
  }
  span::after {
    content: '';
    position: absolute;
    display: block;
    width: 23px;
    height: 3px;
    background-color: #D9D9D9;
    transform: rotate(90deg);
    transition: 0.2s;
  }
}
